

#python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
env/

# Editor/IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
pip-log.txt
pip-delete-this-directory.txt

# Distribution and packaging
build/
dist/
*.egg-info/
*.egg

# Environment variables and sensitive data
.env
settings.pyc

# Test and coverage reports
.coverage
htmlcov/
.tox/

app/sample-output.json
start.sh